<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="{{url_for('static', filename='imagens/autou_logo.png')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>AutoU</title>
  </head>
  <body>
    <header>
      <h1>Leitura e Classificação de E-mails</h1>
    </header>
    <main>
      <form id="formularioEmail">
        <label> 
          <img src="{{url_for('static', filename='imagens/autou_logo.png')}}" alt="Imagem AutoU">Selecione arquivo (.txt/.pdf) ou cole o texto do email abaixo.
        </label>

        <label for="arquivo" class="botao">Escolher Arquivo</label>
        <input type="file" id="arquivo" name="arquivo_email" class="input_arquivo" accept=".txt,.pdf">
        <span id="arquivo_nome" class="arquivo_nome">Nenhum arquivo escolhido</span>

        <textarea name="texto_email" rows="10" placeholder="Cole aqui o texto do email..."></textarea>

        <div class="botoes">
          <button type="submit" class="botao">Enviar</button>
          <button type="button" id="botaoLimpar" class="botao">Limpar formulário</button>
        </div>
      </form>
      
      <section id="resultado" class="oculto">
        <h2>Resultado</h2>
        <div class="card">
          <p><strong>Categoria:</strong> <span id="categoria"></span></p>
          <p><strong>Confiança:</strong> <span id="confianca"></span></p>
          <details>
            <summary><strong>Sinais detectados</strong></summary>
            <pre id="sinais"></pre>
          </details>
        </div>

        <h3>Resposta sugerida</h3>
        <button type="button" onclick="copiarTexto()" id="copiartexto">Copiar</button>
        <pre id="resposta"></pre>
      </section>
    </main>

    <script src="{{url_for('static', filename='app.js')}}"></script>
  </body>
</html>